/*==================================================
ギャラリーのためのcss
===================================*/
.gallery{
    columns: 4;/*段組みの数*/
    padding:0 15px;/*ギャラリー左右に余白をつける*/
    margin:0;
    }
    
    .gallery li {
        margin-bottom: 20px;/*各画像下に余白をつける*/
    list-style:none;
    }
    
    /*ギャラリー内のイメージは横幅100%にする*/
    .gallery img{
        width:100%;
        height:auto;
        vertical-align: bottom;/*画像の下にできる余白を削除*/}
    
    /*　横幅900px以下の段組み設定　*/
    @media only screen and (max-width: 900px) {
        .gallery{
        columns:3;
        }	
    }
    
    @media only screen and (max-width: 768px) {
        .gallery{
        columns: 2;
        }	
    }

    .video-container {
        display: flex;
        gap: 20px;                /* ビデオ間の余白を設定 */
        margin: 20px 0;           /* 上下の余白を設定 */
        justify-content: center;
    }

    .video-container video {
        width: 100%;  /* ビデオの幅を調整してレスポンシブに */
        max-width: 250px; /* ビデオの最大幅を制限 */
        height: auto; /* 高さを自動調整 */
    }

    .video-container1 {
        display: flex;
        gap: 20px;                /* ビデオ間の余白を設定 */
        margin: 20px 0;           /* 上下の余白を設定 */
        justify-content: center;
    }

    .video-container1 video {
        width: 100%;  /* ビデオの幅を調整してレスポンシブに */
        max-width: 250px; /* ビデオの最大幅を制限 */
        height: auto; /* 高さを自動調整 */
    }